@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap');

body {
  /* global variables */

  --var-bg-primary: #000814;
  --var-bg-secondary: #00111A;
  --var-bg-additional: #001529;
  --var-accent-primary: #FFC300;
  --var-accent-secondary: #FFD60A;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans";
  color: white;
  background-color: #000814;

}